button
		{
			width:50px;
			height:50px;
		}
		#down
		{
			width:200px;
			height:50px;	
		}
		input[type=text]
		{
			width:210px;
			height:30px;	
		}
		#calci
		{
			border : 1px solid black;
			width:220px;
			padding:7px;
			height:320px;
			background-color: white;
			margin:2px;
		}
		